<h3 style="margin: 30px 0px 5px 80px;">気になるCD一覧</h3>

<div>



	<% @favorite.each do |favorite| %>

	<table class="favorite_index_table">
		<tr>
		<td class="favorite_image">
			<% if favorite.product.stocks != 0 %>
				<%= link_to product_path(favorite.product.id) do %>
				<%= attachment_image_tag favorite.product, :image, :fill, 120, 120, format: 'jpeg', fallback: "no_image.jpg", :size =>'200x200' %>
				<% end %>
			<% else %>
				<%= link_to product_path(favorite.product.id) do %>
				<%= attachment_image_tag favorite.product, :image, :fill, 120, 120, format: 'jpeg', fallback: "sold_out.jpg", :size =>'200x200' %>
				<% end %>
			<% end %>
		</td>
		<td class="favorite">
			<%= favorite.product.product_name %><br>
			<%= favorite.product.artist %><br>
			￥<%= (favorite.product.price*1.08).floor %>円<br>
		</td>
		<td class="favorite_delete">
			<button type="button">
				<%= link_to "削除", product_favorites_path(favorite.product), method: :delete %>
			</button>
		</td>
	</tr>
	</table>


	<% end %>


	<div style="margin-left: 50%">
		<%= paginate @favorite %>
		<button style="margin-left: 80%;">
			<%= link_to "戻る", user_path(current_user.id) %>
		</button>
	</div>

</div>