<div class="main">

  <div class="container">
    <div class="row">

      <div class="mx-auto">
        <div class="sign_up_wrapper">

          <div class="text-center py-4">
            <h2>ユーザー情報の編集</h2>
          </div>

          <%= form_for(@user) do |f| %>

              <div class="field py-2">
                <span>お名前</span><br>
                <%= f.text_field :last_name, required: true, autofocus: true, input_html: { autocomplete: "last_name" }, class: "short" %>
                <%= f.text_field :first_name, required: true, input_html: { autocomplete: "first_name" }, class: "short" %>
              </div>

              <div class="field py-2">
                <span>ふりがな</span><br>
                <%= f.text_field :last_name_kana, required: true, input_html: { autocomplete: "last_name_kana" }, placeholder:"せい", class: "short" %>
                <%= f.text_field :first_name_kana, required: true, input_html: { autocomplete: "first_name_kana" }, placeholder:"なまえ", class: "short" %>
              </div>

              <!-- ここからAddressモデルへ送るフォーム -->
              <%= f.fields_for :address do |a| %>
                <div class="field py-2">
                  <span>郵便番号</span><br>
                  <%= a.number_field :post_num, value:"#{ @address.post_num }" %>
                </div>
                <div class="field py-2">
                  <span>住所</span><br>
                  <%= a.text_field :address, value:"#{ @address.address }", class: "long" %>
                </div>
              <% end %>
              <!-- ここまでAddressモデルへ送るフォーム -->

              <div class="field py-2">
                <span>電話番号</span><br>
               <%= f.number_field :phone_num, required: true, input_html: { autocomplete: "phone_num" } %>
              </div>

              <div class="field py-2">
                <span>メールアドレス</span><br>
                <%= f.email_field :email, required: true, input_html: { autocomplete: "email" }, class: "long" %>
              </div>

              <div class="form-actions py-2">
                <%= f.submit "保存", class: "btn btn-info" %>
              </div>

          <% end %>

        </div>
      </div>
    </div>
  </div>

</div>