<h4 style="text-align: center;">ユーザー一覧</h4>



<% if current_user.user_flag == 0 %>

	<table class="table table-bordered" style="text-align: center;" >

		<tr style="background-color: gray;">

			<th>ID</th>
			<th>（性）</th>
			<th>（名）</th>
			<th>email</th>
			<th>詳細</th>
			<th>編集</th>
			<th>削除</th>
		</tr>

		<% @users.each do |user| %>

			<tr>
				<td><%= user.id %></td>
				<td><%= user.last_name %></td>
				<td><%= user.first_name %></td>
				<td><%= user.email %></td>
				<td><button type="button"><%= link_to "詳細", user_path(user.id) %></button></td>

				<td><button type="button"><%= link_to "編集", edit_user_path(user.id) %></button></td>
				<td><button type="button"><%= link_to "削除", user_path(user.id),  method: :delete, "data-confirm" => "本当に削除しますか？" %></button></td>
			</tr>

		<% end %>

	</table>
<% end %>

