<main>
	<div class="jumbotron bg-light">
		<div class="container">
			<div class="row">
				<div class="card border-secondary mb-3 mx-auto" style="width: 80rem;">
    				<div class="card-body">
    					<h4 class="card-header">商品編集画面</h4>
							<% if user_signed_in? %>
								<% if current_user.user_flag == 1 %>
									<h4 style="text-align: center;">ユーザー一覧</h4>
									<table class="table table-bordered" style="text-align: center;" >
										<thead>
											<tr style="background-color: #CCFFFF;">

												<th>ID</th>
												<th>（性）</th>
												<th>（名）</th>
												<th>email</th>
												<th>詳細</th>
												<th>編集</th>
												<th>削除</th>
											</tr>
										</thead>
										<% @users.each do |user| %>
											<tbody>
												<tr>
													<td><%= user.id %></td>
													<td><%= user.last_name %></td>
													<td><%= user.first_name %></td>
													<td><%= user.email %></td>
													<td><%= link_to "詳細", user_path(user.id), class: "btn btn-outline-secondary" %></td>
													<td><%= link_to "編集", edit_user_path(user.id),class: "btn btn-outline-warning" %></td>
													<td><%= link_to "削除", user_path(user.id),class: "btn btn-outline-danger", method: :delete, "data-confirm" => "本当に削除しますか？" %></td>
												</tr>
											</tbody>
										<% end %>
									</table>
								<% end %>
							<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
