<%= link_to "ログアウト", destroy_user_session_path, method: :delete %>

<!-- コードここから -->
<div class="main">
	<div class="userinfo_wrapper">
		<h1 class="text-center">ユーザー情報</h1>
		<table>
			<tr>
				<th>名前：</th>
				<td><%= @user.last_name %><%= @user.first_name %></td>
			</tr>
			<tr>
				<th>名前（かな）：</th>
				<td><%= @user.last_name_kana %><%= @user.first_name_kana %></td>
			<tr>
				<th>郵便番号：</th>
				<td><%= @address.post_num %></td>
			<tr>
				<th>住所：</th>
				<td><%= @address.address %></td>
			<tr>
				<th>E-mail：</th>
				<td><%= @user.email %></td>
			<tr>
				<th>電話番号：</th>
				<td><%= @user.phone_num %></td>
		</table>
		<div class="mypage_btn_wrapper">
			<%= link_to "登録情報を編集", edit_user_path, class: "btn btn-info" %>
			<%= link_to(edit_user_path, class: 'btn btn-info') do %>
				<i class="far fa-heart"></i>
				<span>お気に入りリスト</span>
			<% end %>
			<%= link_to "退会", edit_user_path, class: "btn btn-info" %>
		</div>
	</div>

	<hr color="#777" width="95%" size="5">

	<!-- ここから購入履歴 -->
	<div class="order_history">
		<table>
		  <th colspan="5" class="order_history_border">購入経歴</th>
			<tr>
				<td rowspan="2" class="text-center">
					<%= image_tag 'no_image.jpg', :size => '100x100' %>
				</td>
				<td>シングル/アルバム</td>
				<td>アーティスト</td>
				<td>枚数</td>
				<td>￥合計金額</td>
			</tr>
			<tr>
				<!-- td統合 -->
				<td>送付先住所</td>
				<td>配送状況</td>
				<td>購入日</td>
				<td></td>
			</tr>
		  <tr><td colspan="5" class="order_history_border"></td></tr>
			<!-- 以上テスト -->
			<!-- ここからモデルに保存されてるファイル -->
			<% @orders.each do |order| %>
			  <% order.order_items.each do |order_item| %>
				<tr>
					<td rowspan="2" class="text-center">
						<%= image_tag 'no_image.jpg', :size => '100x100' %>
					</td>
					<td>シングル/アルバム</td>
					<td>アーティスト</td>
					<td>枚数</td>
					<td>￥<%= order_item.buy_price %></td>
				</tr>
				<tr>
					<!-- td統合 -->
					<td>送付先住所</td>
					<td><%= order.delivery_status %></td>
					<td><%= order.created_at.strftime('%Y/%m/%d') %></td>
					<td></td>
				</tr>
				<tr><td colspan="5" class="order_history_border"></td></tr>
			  <% end %>
			<tr>
				<td colspan="5" class="text-right">合計金額：￥<%= order.total_price %></td>
			</tr>
			<tr><td colspan="5" class="order_history_border"></td></tr>
			<% end %>
		</table>
	</div>
</div>