<main>
<div class="jumbotron bg-warning">
    <div class="container bg-white">
        <h2 class="text-center p-9">お会計最終確認画面</h2>

        <div class="row">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>商品画像</th>
                        <th>商品名</th>
                        <th>歌手名</th>
                        <th>商品価格</th>
                        <th>購入枚数</th>
                        <th>小計</th>
                    </tr>
                </thead>
                <tbody>
                    <% @carts.each do |cart| %>
                        <tr>
                            <td><%= attachment_image_tag cart.product, :image, :fill, 40, 40, format: 'jpeg', fallback: "no_image.jpg", :size =>'50x50', class: "img-thumbnail" %></td>
                            <td><%= cart.product.product_name %></td>
                            <td><%= cart.product.artist %></td>
                            <td><%= (cart.product.price*1.08).floor %>円
                                </td>
                            <td>
                                    <%= cart.buy_count %>枚
                            </td>
                            <td><%= (cart.subtotal*1.08).floor %>円</td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>

        <hr color="#000000" width="80%" size="9">

        <div class="row">
            <div class="col-lg-10 py-2">
                    <p>お届け先： 〒 <%= @order.address.post_num %> <%= @order.address.address %></p>
                    <p></p>
                    <p>お宛名：
                    	<% if (@order.address.shipping_address == 0) %>
                    		<%= @order.address.user.last_name %>
                    		<%= @order.address.user.first_name %>
                    	<% else %>
                    		<%= @order.address.delivery_last_name %>
                    		<%= @order.address.delivery_first_name %>
                    	<% end %>
                    </p>
                    <p>お支払い方法： <%= @order.payment_i18n %></p>
                    <table class="table">
                    	<tr>
                    		<td>お会計：</td>
                    		<td>商品小計</td>
                    		<td>¥ <%= (@order.total_price*1.08).floor %>円 (税込)</td>
                    	</tr>
                    	<tr>
                    		<td></td>
                    		<td>＋ 送料</td>
                    		<td>¥ 500円</td>
                    	</tr>
                    	<tr>
                    		<td></td>
                    		<td><h3>ご請求金額</h3></td>
                    		<td><h3>¥ <%= (@order.total_price*1.08).floor+500 %>円</h3></td>
                    	</tr>
                        
                    </table>
                    <p class="text-center"></p>
            </div>

             <div class="table">
                <div class="row">
                <div class="col-lg-12 text-center pt-2">

                      <span><%= link_to "配送先・お支払い方法選択画面に戻る", mycart_path,  class: "btn btn-outline-secondary", role: 'button' %></span>
                      <p class="pt-1">
                        <%= form_for @order, url: "/orders/complete/#{@order.id}" do |order| %>
                            <%= order.hidden_field :update_flag, :value => 2 %>
                            <%= order.submit "確定", class: "btn btn-outline-success" %>
                        <% end %>
                      </p>

                </div>
                </div>
            </div>
</main>