<body>
<h1>カート内商品</h1>
<p>Find me in app/views/orders/index.html.erb</p>


    <div class="container">
        <div class="row">

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>商品画像</th>
                        <th>商品名</th>
                        <th>歌手名</th>
                        <th>購入枚数</th>
                        <th>価格</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    <% @cart.each do |cart| %>
                        <tr>
                            <td><%= attachment_image_tag cart.product, :image, :fill, 40, 40, format: 'jpeg', fallback: "no_image.jpg", :size =>'50x50', class: "img-thumbnail" %></td>
                            <td><%= cart.product.product_name %></td>
                            <td><%= cart.product.artist %></td>
                            <td><%= form_for cart do |f| %>
                                    <%= f.select :buy_count, [["1", 1], ["2", 2], ["3", 3], ["4", 4], ["5", 5]] %>
                                <% end %>
                            </td>
                            <td><%= (cart.product.price*1.08).floor %></td>
                            <td><%= link_to "削除",cart_path(cart.id), method: :delete, class: 'btn btn-danger', role: 'button' %> </td>
                        </tr>
                    <% end %>
                </tbody>
            </table>

        </div>
        <hr color="#000000" width="80%" size="9">

        

              <div class="table">
              <h4>お届け先住所</h4>

                <%= form_with model: current_user do |f| %>
                <div class="row">
            <div class="col-lg-5">
                  <table>

                    <thead>
                      <tr>
                        <th>郵便番号</th>
                        <th>配送先住所</th>
                        <th>苗字</th>
                        <th>名前</th>
                        <th>選択</th>
                      </tr>
                    </thead>

                    <tbody>
                      <%= f.collection_check_boxes(:address_ids, @addresses, :id, :address) do |b| %>
                       <%= b.label do %>
                    <tr>
                      <td><%= b.object.post_num %></td>
                      <td><%= b.object.address %></td>
                      <td><%= b.object.delivery_last_name %></td>
                      <td><%= b.object.delivery_first_name %></td>
                      <td><%= b.check_box({:checked=> false}) %></td>
                    </tr>
                       <% end %>
                      <% end %>
                    </tbody>
                  </table>
            </div>

　　　　　　　<div class="col-lg-3">
                <h4>お支払い方法<br>
                     form_for @order do |order|
                         order.select :payment, Order.payments.keys.map {|k| [I18n.t("enums.order.payment.#{k}"), k]}
                    end
                        </h4>
                <h4>お会計</h4>
                <p>商品料金合計円</p>
                <p>+ 送料500円</p>
                <p><%= link_to "買い物続けるボタン", products_path %></p>
            </div>
              <div class="col-lg-2 d-flex align-items-end">
                <br><br><%= f.submit "確定", class: "btn btn-success pull-right" %>
            </div>
                <% end %>

            <div class="col-lg-6">
                    <p><%= link_to "別の住所へ発送したい方", new_address_path %> </p>
            </div>

           </div>

          </div>
            <!-- <div class="border-left" style="padding:15px;"> -->

    </div>
</body>
