<h1>Products#index</h1>

<body>
	<div class="container">
      <div class="row">

      <div class="col-xs-12">
        <h2 class="product_index">商品一覧</h2>
      </div>
      <br>

	<% @products.each do |product| %>
	  <div class="col-xs-6 col-lg-4 text-center mb-4">

		  <div class="card p-4" style="width: 20rem;">
	         <%= link_to products_path(products.id) do %>
             <%= attachment_image_tag product, :image, format: 'jpeg', fallback: "no_image.jpg", :size =>'100x100' %>
             <% end %>

             <div class="card-body">
                <h5 class="card-title"><%= product.disc_name %></h5>
                <p class="card-text"><%= product.artist %></p> 
                <p class="card-text">¥<%= product.price %>円</p> 
             </div>

          </div>

     </div>
    <% end %>

    <%= paginate @products, class: "paginate" %>
</body>
