<main>
  <div class="container">
	<div class="row">

       <!--商品情報側-->

		<div class="col-lg-9">
			<div class="row">
				<div class="col-lg-5">
					<h3><span class="badge badge-pill badge-primary"><%= @product.genre_i18n %></span>
					<span class="badge badge-pill badge-info"><%= @product.label %></span></h3>
					<% if @product.stocks != 0 %>
					 	<%= attachment_image_tag @product, :image, :fill, 200, 200, format: 'png', fallback: "no_image.png", :size =>'300x300', class: "img-thumbnail" %>
					<% else %>
						<%= attachment_image_tag @product, :image, :fill, 200, 200, format: 'png', fallback: "sold_out.png", :size =>'300x300', class: "img-thumbnail" %>
					<% end %>
					 <!-- 気になるボタンを追加/ -->
      				<% if user_signed_in? %>
					 <% if @product.favorited_by?(current_user) %>
					 <%= link_to product_favorites_path(@product.id), method: :delete do %>
					 	<p><font size="4"><i class="fa fa-heart" aria-hidden="true" style="color: red;"></i> お気に入り中</font></p>
					 	<% end %>
					 <% else %>
						<%= link_to product_favorites_path(@product.id), method: :post do %>
					 	<p><font size="4"><i class="fa fa-heart" aria-hidden="true" style="color: black;"></i> お気に入りリスト追加</font></p>
					 	<% end %>
					 <% end %>
					<% end %>

                </div>

				<div class="col-lg-7">
					<table class="table">
						<tbody>
							<br><br><br>
								<tr>
									<th>商品名</th><td><%= @product.product_name %><blockquote class="blockquote text-right mb-0"><span class="badge badge-pill badge-secondary"><%= @product.disc_type_i18n %></span></blockquote></td>
								</tr>
								<tr>
									<th>発売日</th><td><%= @product.release_date %></td>
								</tr>
								<tr>
									<th>アーティスト</th><td><%= @product.artist %></td>
								</tr>
								<tr>
									<th>価格</th><td>¥<%= (@product.price*1.08).floor %>(税込)</td>
								</tr>
								<tr><% if user_signed_in? %>
                    					<% if current_user.user_flag == 0 %>
                    					<% elsif current_user.user_flag == 1 %>
                    						<th>在庫数</th><td><%= @product.stocks %></td>
                    					<% else %>
				    					<% end %>
									<% end %>
								</tr>
						</tbody>
					</table>

				</div>

			</div>
		</div>

		<!--カート＆管理者編集側-->

		<div class="col-lg-3">
			
				<br><br><br>
					<% if user_signed_in? %>
							<% if current_user.user_flag == 0 %>
								<% if @product.stocks != 0 %>
									<%= form_for @cart, url: cart_create_path(params[:id]), html: {method: :post} do |f|  %>
									  <span class="card p-2"><i class="fas fa-cart-arrow-down fa-5x mx-auto mb-2"></i>
									  <h5>枚数を選択して下さい</h5>
									  <%= f.select :buy_count, [["1", 1], ["2", 2], ["3", 3], ["4", 4], ["5", 5]], :selected=>1 %>
									  <br>
									  <%= f.submit "カートに入れる"%>
									  </span>
									<% end %>
								<% else %>
								<% end %>
							<% elsif current_user.user_flag == 1 %>
							<% else %>
							<% end %>
					<% end %>
			                <div>
			                <% if user_signed_in? %>
				                 <% if current_user.user_flag == 1 %>
				                   <%= link_to "商品を編集", edit_product_path, class: "btn btn-outline-success btn-sm" %><br>
				                   <%= link_to "商品を削除", product_path, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger btn-sm" %>
				                 <% end %>
			                <% end %>
                			</div>
            </div>
		</div>


	 </div>
    </div>
</main>